/hotelmanagement_main/build/
/hotelmanagement_main/nbproject/private/
/hotelmanagement_old_main/build/
/hotelmanagement_old_main/nbproject/private/
/hotelmanagement_23052025/build/
/hotelmanagement_23052025/nbproject/private/
